
:root {
	--primary: #EA40A4;
	--business: #3a82ee;
	--danger: #ff5b57;
}

* {
    box-sizing: border-box;
}

body {
    background: url(../todoApp/images/flour.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.container {
	display: flex;
	align-content: center;
	justify-content: center;
}

header, form {
	display: flex;
	align-content: center;
	justify-content: center;
	
}

.lists {
	background-color: #ff5b57;
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 10px;
}


.list-group {
	min-width: 35%;
	list-style: none;
}

.lists li {
	flex:1;
}

.add-list {
	padding: 0rem 0.5rem;

}